<h1>Create Login Credentials</h1>

<form  action="<%=users_url%>" method="post">
<br><br><br>

  Account Name <input type="text" name="user[user_name]"><br>
  Password <input type="password" name="user[password]"><br>
  <input type="submit" value="Create">

</form>
